/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.reloj-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

/* Título */
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo de cada ciudad */
.ciudad {
    font-size: 20px;
    color: #555;
    margin: 10px 0;
}
